fastapi==0.75.1
uvicorn[standard]==0.17.6
sqlalchemy==1.4.31
psycopg2-binary==2.9.3
python-jose[cryptography]==3.3.0
python-multipart==0.0.5
passlib[bcrypt]==1.7.4
python-dotenv==0.20.0
alembic==1.7.7
pydantic==1.9.1
python-decouple==3.5
fastapi-versioning==0.9.1
fastapi-security==0.1.0
